
*{
    margin: 0;
    padding: 0;
}
.AA{
    background-color: rgb(209, 210, 210);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.A .B{
    display: flex;
    flex-direction: column;
    width: 400px;

}
.A{
    background-color: aqua;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   border:3px solid gainsboro;
   width: 450px;
   height: 400px;
    
}
.A h1{
    margin-bottom: 20px;
    color: blueviolet;
}
.A input{
    margin: 10px;
    padding: 10px;
    text-align: center;
    outline: none;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    border: none;

}
#su:hover{
    border:1px solid rgb(201, 209, 198);
    background-color: rgb(2, 253, 224);

}


